body{
background-color:cyan;

}

#cadre{
background-color:blue;
border-radius:20px; 20px;

}
a{

color:white;

}

#b,button{

  color:white; background-color:BLue; font-size:1em; margin-right:1%; border-radius:30px;

}


#login{

   position:absolute; top:20%; left:15%;

   background-color:red;
}

.onglet
{
        display:inline-block;
        margin-left:3px;
        margin-right:3px;
        padding:3px;
        border:1px solid black;
        cursor:pointer;
}
.onglet a
{
        text-decoration:none;
}
.onglet_n
{
       color:white;
        background-color:blue;
        border-bottom:0px solid black;
}
.onglet_y
{
        color:white;
        background:DarkBlue;
        border-bottom:0px solid black;
        padding-bottom:4px;
}
.contenu
{
        position:absolute;
        height:95%;
        width:95%;

}
ul
{
        margin-top:0px;
        margin-bottom:0px;
        margin-left:-10px
}
h1
{
        margin:0px;
        padding:0px;
}

 
